{% if entry.video %}
    {% for video in entry.video.all() %}
        {% set imageMain = video.imageMain.one() %}
        {% set imageSecondary = video.imageSecondary.one() %}
        {% set btnEntry = video.btn.one() %}
    <section class="about-layout2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="about-img-container">
                        <img src="{{ imageMain.url }}" alt="{{ imageMain.title }}" class="img-fluid">
                        <img src="{{ imageSecondary.url }}" alt="{{ imageSecondary.title }}" class="img-fluid">
                    </div>
                    {% if video.youtube %}
                    <div class="video-box">
                        <a class="video-btn video-btn-white popup-video" href="{{ video.youtube }}">
                            <div class="video-btn__player">
                                <i class="fa fa-play"></i>
                            </div>
                        </a>
                    </div><!-- /.video__box -->
                    {% endif %}
                </div><!-- /.col-xl-5 -->
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="text-container heading-layout2">
                        <h3 class="heading__title">{{video.heading}}</h3>
                        <p class="heading__desc mt-30 mb-30">{{ video.subtitle }}</p>
                        {% if video.usp %}
                        {% set usps = video.usp|split("\n") %}
                        <ul class="list-items list-unstyled mb-40">
                            {% for usp in usps %}
                            <li>{{ usp }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if btnEntry %}
                        <a href="{{ btnEntry.url }}" class="btn btn__secondary btn__icon"><i class="icon-arrow-right"></i><span>{{ btnEntry.title }}</span></a>
                        {% endif %}
                        {% if video.description %}
                        <p class="heading__desc mb-30">{{ video.description }}</p>
                        {% endif %}
                    </div><!-- /heading -->
                </div><!-- /.col-xl-7 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.About Layout 2 -->
    {% endfor %}
{% endif %}