<section class="about-layout3 pb-0">
    <div class="container feature-banners-wrapper">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="heading-layout2 mb-30">
                    <h2 class="heading__title">{{ blocks['terrasoverkappingen'].header }}</h2>
                    {% if blocks['terrasoverkappingen'].subtitle %}
                        <h3 class="heading__subtitle">{{ blocks['terrasoverkappingen'].subtitle }}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="heading-layout2 mb-30">
                    <p class="heading__desc mb-30">{{ blocks['terrasoverkappingen'].description | nl2br}}</p>
                    {% if blocks['terrasoverkappingen'].usp %}
                        {% set usps = blocks['terrasoverkappingen'].usp|split("\n") %}
                        <ul class="list-items list-unstyled mb-40">
                            {% for usp in usps %}
                                <li>{{ usp }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            {% if blocks['pergolas'] %}
            {% set image = blocks['pergolas'].image.one() %}
            {% if image %}
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="feature-banner">
                    <div class="feature-banner__img">
                        <h3 class="heading__title text-center">{{ blocks['pergolas'].header }}</h3>
                        {% if blocks['terrasoverkappingen'].subtitle %}
                            <h4 class="heading__subtitle text-center mb-30">{{ blocks['terrasoverkappingen'].subtitle }}</h4>
                        {% endif %}
                        <a href="{{ image.url }}" class="popup-gallery-item">
                            <img src="{{ image.url }}" alt="{{ image.title }}" class="w-100">
                        </a>
                        {% if blocks['pergolas'].description %}
                        <p class="heading__desc mt-30">{{ blocks['pergolas'].description  | nl2br}}</p>
                        {% endif %}
                        {% if blocks['pergolas'].usp %}
                            {% set usps = blocks['pergolas'].usp|split("\n") %}
                            <ul class="list-items list-unstyled mb-40">
                                {% for usp in usps %}
                                    <li>{{ usp }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div><!-- /.feature-banner__img -->

                </div><!-- /.feature-banner -->
            </div>
            {% endif %}
            {% endif %}

            {% if blocks['lamellendak'] %}
            {% set image = blocks['lamellendak'].image.one() %}
            {% if image%}
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="feature-banner">
                    <div class="feature-banner__img">
                        <h3 class="heading__title text-center">{{ blocks['lamellendak'].header }}</h3>
                        {% if blocks['lamellendak'].subtitle %}
                            <h4 class="heading__subtitle text-center mb-30">{{ blocks['lamellendak'].subtitle }}</h4>
                        {% endif %}
                        <a href="{{ image.url }}" class="popup-gallery-item">
                            <img src="{{ image.url }}" alt="{{ image.title }}" class="w-100">
                        </a>
                        {% if blocks['lamellendak'].description %}
                        <p class="heading__desc mt-30">{{ blocks['lamellendak'].description  | nl2br }}</p>
                        {% endif %}
                        {% if blocks['lamellendak'].usp %}
                            {% set usps = blocks['lamellendak'].usp|split("\n") %}
                            <ul class="list-items list-unstyled mb-40">
                                {% for usp in usps %}
                                    <li>{{ usp }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div><!-- /.feature-banner__img -->

                </div><!-- /.feature-banner -->
            </div>
            {% endif %}
            {% endif %}
        </div><!-- /.row -->
    </div>
</section>