<section class="banner-layout3 py-0 bg-gray">
    <div class="container-fluid col-padding-0">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="banner-panel">
                    <div class="heading-layout2 mb-40">
                        {% if about.subtitle %}
                        <h3 class="heading__subtitle">{{ about.subtitle }}</h3>
                        {% endif %}
                        <h2 class="heading__title">{{about.header}}</h2>
                        <p class="heading__desc mb-30">{{ about.description }}</p>
                        {% if about.usp %}
                            {% set usps = about.usp|split("\n") %}
                            <ul class="list-items list-unstyled mb-40">
                                {% for usp in usps %}
                                    <li>{{ usp }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div><!-- /.heading -->
                </div><!-- /.banner-panel -->
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-12 col-lg-7">
            {% set image = about.image.one() %}
            {% if image %}
            <a href="{{ image.url }}" class="popup-image" rel="group-{{ about.index }}">
                <img src="{{ image.url }}" alt="{{ image.title }}" class="w-100">
            </a>
            {% endif %}
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>