<section class="about-layout3 pb-0">
    <div class="container feature-banners-wrapper">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="heading-layout2 mb-70">
                    <h2 class="heading__title">{{ about.header }}</h2>
                    {% if about.subtitle %}
                    <h3 class="heading__subtitle">{{ about.subtitle }}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="heading-layout2 mb-30">
                    <p class="heading__desc mb-30">{{ about.description }}</p>
                    {% if about.usp %}
                        {% set usps = about.usp|split("\n") %}
                        <ul class="list-items list-unstyled mb-40">
                            {% for usp in usps %}
                                <li>{{ usp }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            {% for k, image in about.image.all() %}
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="feature-banner">
                    <div class="feature-banner__img">
                        <a href="{{ image.url }}" class="popup-gallery-item">
                            <img src="{{ image.url }}" alt="{{ image.title }}" class="w-100">
                        </a>
                    </div><!-- /.feature-banner__img -->

                </div><!-- /.feature-banner -->
            </div>
            {% endfor %}
        </div><!-- /.row -->
    </div>
</section>