{% macro errorList(errors) %}
    {% if errors %}
        {% for error in errors  %}
            <p class="alert alert-danger">{{ error }}</p>
        {%  endfor %}
    {% endif %}
{% endmacro %}

{% set message = message ?? null %}

<form method="post" action="" accept-charset="UTF-8" class="contact-panel__form mb-30" novalidate="novalidate">
    {{ csrfInput() }}
    {{ actionInput('contact-form/send') }}
    {{ redirectInput('contact?thanks') }}
    <div class="row">
        <div class="col-sm-12">
            <h4 class="contact-panel__title">{{ entry.title }}</h4>
            <p class="contact-panel__desc mb-40">{{ entry.pageContent }}</p>
        </div>
        <div class="col-sm-12">
            {% if craft.app.session.hasFlash('notice') %}
                <div class="alert alert-success" role="alert">{{ craft.app.session.getFlash('notice') }}</div>
            {% elseif craft.app.session.hasFlash('error') %}
                <div class="alert alert-warning" role="alert">{{ craft.app.session.getFlash('error') }}</div>
            {% endif %}
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                {{ input('text', 'fromName', message.fromName ?? '', {
                    id: 'from-name',
                    autocomplete: 'name',
                    class: 'form-control',
                    required: 'true',
                    placeholder: 'Your Name'|t('contact-form'),
                }) }}
                {{ message ? _self.errorList(message.getErrors('fromName')) }}
            </div>
        </div><!-- /.col-lg-6 -->
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                {{ input('email', 'fromEmail', message.fromEmail ?? '', {
                    id: 'from-email',
                    autocomplete: 'email',
                    class: 'form-control',
                    required: 'true',
                    placeholder: 'Your Email'|t('contact-form')
                }) }}
                {{ message ? _self.errorList(message.getErrors('fromEmail')) }}
            </div>
        </div><!-- /.col-lg-6 -->
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                {{ input('text', 'subject', message.subject ?? '', {
                    id: 'subject',
                    class: 'form-control',
                    required: 'true',
                    placeholder: 'Subject'|t('contact-form'),
                }) }}
                {{ message ? _self.errorList(message.getErrors('subject')) }}
            </div>
        </div><!-- /.col-lg-6 -->
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                {{ tag('textarea', {
                    text: message.message ?? '',
                    id: 'message',
                    name: 'message',
                    rows: 10,
                    cols: 40,
                    class: 'form-control',
                    placeholder: 'Message'|t('contact-form'),
                    required: 'true'
                }) }}
                {{ message ? _self.errorList(message.getErrors('message')) }}
                <input id="secretBuitenPot" name="buitenpot_" value="" type="text">
            </div>
        </div><!-- /.col-lg-12 -->
        <div class="col-sm-12 col-md-12 col-lg-12">
            <button type="submit" class="btn btn__secondary btn__lg">
                <i class="icon-arrow-right"></i><span>{{ 'Submit'|t('contact-form') }}</span>
            </button>
            <div class="contact-result"></div>
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
</form>