<!-- ========================
      Footer
    ========================== -->
<footer class="footer">
    <div class="footer-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-5 footer-widget footer-widget-about">
                    <h6 class="footer-widget-title">{{ footer.col1Header }}</h6>
                    <div class="footer-widget-content">
                        <p class="mb-20">{{ footer.col1Description }}</p>
                    </div>
                </div><!-- /.col-xl-4 -->
                <div class="col-sm-8 col-md-4 col-lg-3 col-xl-4 footer-widget footer-widget-nav">
                    <h6 class="footer-widget-title">{{ footer.col2Header }}</h6>
                    <div class="footer-widget-content">
                        <nav>
                            {{ craft.navigation.render('footerCol2', {
                                ulClass: 'list-unstyled',
                                liClass: '',
                                aClass: '',
                                activeClass: ''
                            }) }}
                        </nav>
                    </div><!-- /.footer-widget-content -->
                </div><!-- /.col-xl-2 -->
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 footer-widget footer-widget-contact">
                    <h6 class="footer-widget-title">{{ footer.col3Header }}</h6>
                    <div class="footer-widget-content">
                        <p class="mb-20">Wij werken bij voorkeur enkel op afspraak, dit om uw project de aandacht te geven dat hij verdient.</p>
                        <a class="contact-number contact-number-white d-flex align-items-center mb-20" href="tel:{{ contactinfo.phone }}">
                            <i class="icon-phone"></i><span>{{ contactinfo.phone }}</span>
                        </a><!-- /.contact__numbr -->
                        <p class="mb-30">{{ contactinfo.addresse |nl2br }}</p>
                        <ul class="social-icons list-unstyled">
                            {% if contactinfo.facebook %}<li><a href="{{ contactinfo.facebook }}"><i class="fab fa-facebook-f"></i></a></li>{% endif %}
                            {% if contactinfo.instagram %}<li><a href="{{ contactinfo.instagram }}"><i class="fab fa-instagram"></i></a></li>{% endif %}
                            {% if contactinfo.linkedin %}<li><a href="{{ contactinfo.linkedin }}"><i class="fab fa-linkedin"></i></a></li>{% endif %}
                        </ul><!-- /.social-icons -->
                    </div><!-- /.footer-widget-content -->
                </div><!-- /.col-xl-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-primary -->
    <div class="footer-copyrights">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <p class="mb-0"> &copy; {{ "now"|date('Y') }}</p>
                </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-copyrights-->
</footer><!-- /.Footer -->
<button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>