<!DOCTYPE html>

{% include 'elements/head' %}

<body>
<div class="wrapper">
    <div class="preloader">
        <div class="spinner"><span class="cube1"></span><span class="cube2"></span></div>
    </div><!-- /.preloader -->

    <!-- =========================
        Header
    =========================== -->
    {% include 'elements/header' %}

    {% include 'block/slider/index' %}
    {% include 'block/slider2/index' %}

    <!-- ============================
        Form
    ============================== -->
    <section class="contact-layout1 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="contact-panel__info bg-gray mb-30">
                        <div class="contact-panel__block">
                            <h5 class="contact-panel__block__title">Ons adres</h5>
                            <ul class="contact-panel__block__list list-unstyled">
                                <li>{{ contactinfo.addresse | nl2br }}</li>
                            </ul>
                        </div><!-- /.contact-panel__info__block -->
                        <div class="contact-panel__block">
                            <h5 class="contact-panel__block__title">Onze contactgegevens</h5>
                            <ul class="contact-panel__block__list list-unstyled">
                                <li>Email: <a href="mailto:{{ contactinfo.email }}">{{ contactinfo.email }}</a></li>
                                <li>Tel: <a href="tel:{{ contactinfo.phone }}">{{ contactinfo.phone }}</a></li>
                            </ul>
                        </div><!-- /.contact-panel__info__block -->
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-7 offset-lg-1">
                    {% include 'block/contact/form' %}
                </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>




    {% include 'elements/footer' %}

</div><!-- /.wrapper -->
{% include 'elements/scripts/bottom' %}
</body>
</html>