{% if entry.pagetitle %}
{% set pagetitle = entry.pagetitle.one() %}
{% set pagetitleImage = pagetitle.image.one() %}
<!-- ========================
   page title
=========================== -->
{#
<section class="page-title page-title-layout2 bg-overlay bg-parallax">
    <div class="bg-img"><img src="{{ pagetitleImage.url }}" alt="background"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <h1 class="pagetitle__heading">{{ pagetitle.heading}}</h1>
                <p class="pagetitle__desc mb-0">{{ pagetitle.subheading}}</p>
            </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.page-title -->
#}
<section class="slider slider-layout3">
    <div class="slick-carousel carousel-arrows-light m-slides-0"
         data-slick='{"slidesToShow": 1, "arrows": true, "dots": false, "speed": 700,"fade": true,"cssEase": "linear"}'>
        <div class="slide-item bg-overlay">
            <div class="bg-img"><img src="{{ pagetitleImage.url }}" alt="slide img {{ pagetitleImage.title }}"></div>
            <div class="container">
                <div class="d-none d-lg-block">
                    <div class="row features-light">
                        <div class="col-sm-6 col-md-3 col-lg-3"></div><!-- /.col-lg-3 -->
                        <div class="col-sm-6 col-md-3 col-lg-3"></div><!-- /.col-lg-3 -->
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="feature-item feature-box">
                                <div class="feature-item__content">
                                    <h1 class="feature-item__title">{{ pagetitle.heading }}</h1>
                                    <p class="pagetitle__desc mb-0">{{ pagetitle.subheading}}</p>
                                </div><!-- /.feature-content -->
                            </div><!-- /.feature-item -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div><!-- /.container -->
        </div><!-- /.slide-item -->
    </div><!-- /.carousel -->
</section><!-- /.slider -->
{% endif %}